.header {
	background: white;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
	position: relative;
	z-index: 1;

	&-inner {
		max-width: 1169px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
	}

	&-logo {
		display: flex;
		align-items: center;

		&__inner {
			display: flex;

			&:after {
				content: "";
				border-right: 1px solid black;
				margin-left: 10px;
			}
		}

		&__text {
			text-transform: uppercase;
			margin-left: 10px;
		}
	}

	&-search {
		flex-grow: 1;
		margin: 0 83px 0 63px;

		input {
			width: 100%;
			background-image: url("img/search.png");
			background-repeat: no-repeat;
			background-position: 96% 11px;
			border: 1px solid #D2DCDC;
			box-sizing: border-box;
			border-radius: 8px;
			padding: 13px 0 11px 16px;

			&[placeholder="Поиск по сайту..."] {
				color: #B3C2C2;
				font-size: 14px;
			}
		}
	}

	&-info {
		opacity: .5;
	}

	&-notification {
		position: relative;

		span {
			width: 11px;
			height: 11px;
			border-radius: 50%;
			font-size: 8px;
			background: #FF6363;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			position: absolute;
			right: -3px;
			top: -7px;

		}
	}

	&-account {
		display: flex;
		align-items: center;
		background: #FAFAFA;
		padding: 20px 0 20px 25px;
		margin-left: 20px;


		&__inner {
			display: flex;
			align-items: center;
			margin-left: 23px;
		}

	}

	&-name {
		margin-left: 10px;
		max-width: 206px;
		color: #A1B1B1;
		font-size: 14px;
	}

	&-absolute {
		position: absolute;
		height: 100%;
		width: 41.1%;
		background: #FAFAFA;
		right: 0;
		top: 0;
		z-index: -1;
		display: none;
	}
}