header.header
	.header-inner
		.header-logo
			.header-logo__inner
				img(src="img/svg/header-logo.svg", alt="logo")
			.header-logo__text daily
		.header-search
			input(type="text", placeholder="Поиск по сайту...")
		.header-info
			img(src="img/svg/header-info-logo.svg", alt="info")
		.header-account
			.header-notification
				img(src="img/svg/header-notification.svg", alt="notification")
				span 3
			.header-account__inner
				.header-account__logo
					img(src="img/header-account-logo.png" alt="logo")
				.header-name Константин Константинопольский
	.header-absolute