.sidebar {
    display: flex;
    flex-direction: column;
    background: #fff;
    min-width: 270px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.03), 0 3px 10px rgba(164, 164, 164, 0.03);
    border-radius: 8px;
    margin-right: 30px;
    max-height: 360px;

    &-link {
        color: #3f3f3f;
        font-size: 14px;
        text-decoration: none;
        padding: 21px 53px 21px 21px;
        cursor: pointer;

        span {
            display: none;
        }

        &.active {
            display: flex;
            align-items: center;
            position: relative;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                font-size: 8px;
                background: #ff6363;
                color: #fff;
                margin-left: 8px;
            }
        }
    }
}