.sidebar
	a.sidebar-link(href="#") Активные курсы
	a.sidebar-link(href="#") Активные тесты
	a.sidebar-link(href="#") Каталог программ
	a.sidebar-link(href="#") Вебинары и тренинги
	a.sidebar-link(href="#") Мои оценочные процедуры
	a.sidebar-link(href="#") Полезные ссылки