extends ../layouts/default

block variables
	- const title = "Leadership";

block content
	include ../../blocks/modules/header/header
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.content
			//- include ../../blocks/components/bread-crumbs/bread-crumbs
			//- +bread-crumbs("Главная", "Вебинары и тренинги", "Лидерство (практики управления)")
			include ../../blocks/components/main-banner/main-banner
			+main-banner("1.png")
			include ../../blocks/components/title-button/title-button
			+title-button("Незаконченный электронный курс")
			include ../../blocks/components/main-title/main-title
			+main-title("Лидерство (Практики управления)")
			include ../../blocks/components/tabs-buttons/tabs-buttons
			.tabs-buttons(id="tabs")
				+tabs-buttons(true, "Продолжить", "Изучение", "Материалы курса")
				#tabs-0.tabs-body
					.leadership
						include ../../blocks/components/information-card/information-card
						.information-card-inner
							+card("Статус", "", "В процессе", "blue")
							+card("Баллы", "", "25 из 100", "blue", true)
							+card("Информация", "Курс доступен до:", "27.08.2020, 14:01", "blue")
						.leadership-title
							.leadership-title__item Карта курса
							.leadership-title__view
								.leadership-title__view-text Вид:
								.leadership-title__view-blocky
								.leadership-title__view-tabular
						.leadership-inner
							.leadership-inner__item
								.leadership-inner__title-black Лидерство
								.leadership-inner__title-blue Учебный модуль. Обязательный раздел
								.leadership-inner__title-green В процессе
								.leadership-inner__icon
							.leadership-inner__item
								//- include ../../blocks/components/date/date
								//- +date("Активирован: 19.12.2019, 16:01")
								//- +date("Последний вход: 19.12.2020, 16:01")
								//- +date("Время: 00.00.54")
								.leadership-inner__button Продолжить
						include ../../blocks/modules/comments/comments
				#tabs-1.tabs-body
					.leadership
						include ../../blocks/modules/input/input
						.leadership-title Материалы курса
						.leadership-materials__section
							.leadership-materials__section-inner
								include ../../blocks/components/leadership-materials/leadership-materials
								+leadership-materials("pdf.svg", "Брендбук компании", "Скачать", "view.svg", "Посмотреть")
								+leadership-materials("open-icon.svg", "Логотипы компаний", "Выбрать", "download.svg", "Скачать все")
								+leadership-materials("ppt.svg", "Набор иконок", "Скачать", "view.svg", "Посмотреть")
							.leadership-materials__section-inner
								+leadership-materials("ppt.svg", "Шаблоны презентаций", "Выбрать", "download.svg", "Скачать все")
								+leadership-materials("pdf.svg", "Шаблоны грамот", "Выбрать", "download.svg", "Скачать все")
								+leadership-materials("doc.svg", "Шаблоны бланков", "Выбрать", "download.svg", "Скачать все")
						.leadership-section
							include ../../blocks/components/leadership-section-text/leadership-section-text
							+leadership-section-text("Цель курса", "title")
							+leadership-section-text("Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову.", "desc")
							+leadership-section-text("Содержание курса", "title")
							ol.leadership-section-text__list
								li Что такое лидерство
								li Законы лидерства
								li Источники влияния
								li Мышление лидера
							+leadership-section-text("Целевая аудитория", "title")
							+leadership-section-text("Все сотрудники банка", "desc")
							+leadership-section-text("Наличие тестирования", "title")
							+leadership-section-text("Упранения внутри курса", "desc")
							+leadership-section-text("Время", "title")
							+leadership-section-text("30 минут", "desc")


	include ../../blocks/modules/footer/footer
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")