extends ../layouts/default

block variables
	- const title = "Main";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/modules/help/help
	.wrapper
		include ../../blocks/modules/sidebar/sidebar
		.content
			include ../../blocks/modules/main-banner-slider/main-banner-slider
	include ../../blocks/modules/footer/footer

block scripts
	//- script(src="js/index.js")
	//- script(src="js/vendor.js")
