@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";




body {
	font-family: 'Graphik', sans-serif;
	background: #FAFAFA;
}

.wrapper {
	margin: 0 auto;
	max-width: 1169px;
	display: flex;
}