ol.list__main
	li.list__main-item Нумерованый список
		ol.list__main-inner
			li.list__main-inner__item.bold
				span Жирный текст
			li.list__main-inner__item.italics
				span Курсивный текст
			li.list__main-inner__item.underlined
				span Подчеркнутый текст