extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
		ul
			li
				a(href="page.html") page


block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
