extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
		ul
			li
				a(href="main.html") main
			li
				a(href="instruments.html") instruments
			li
				a(href="leadership.html") leadership
			li
				a(href="mentoring.html") mentoring
			li
				a(href="my-certificates.html") main
			li
				a(href="webinars.html") webinars


block scripts
	//- script(src="js/main.js")
	//- script(src="js/vendor.js")
