mixin leadership-materials(img, title, button, icon, text)
	.leadership-materials
		.leadership-materials__img
			img(src="/img/svg/"+ img, alt="#")
		.leadership-materials__inner
			.leadership-materials__title= title
			.leadership-materials__wrap
				.leadership-materials__arrow
					img(src="img/svg/arrow-down-blue.svg", alt="#")
					span= button
				.leadership-materials__others
					img(src="img/svg/"+ icon, alt="#")
					span= text