.help {
    box-sizing: border-box;
    max-width: 1169px;
    margin: 0 auto 30px;
    border: 1px solid #d2dcdc;
    padding: 20px 0 20px 70px;
    color: #546161;
    font-size: 14px;
    border-radius: 5px;

    a {
        color: #00bef0;
        text-decoration: underline;
    }
}