.footer {
    background: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);

    &-inner {
        display: flex;
        align-items: center;
        max-width: 1169px;
        margin: 0 auto;
        padding: 31px 0;
    }

    &-social {
        display: flex;

        img {
            margin-right: 23px;

            &:last-child {
                margin-right: 0;
            }
        }

        &:after {
            content: "";
            border-right: 1px solid #d2dcdc;
            margin-left: 40px;
        }
    }

    &-button {

        &__mob {
            font-size: 14px;
            color: #00bef0;
            margin-left: 40px;
        }

        &__feedback {
            font-size: 14px;
            color: #00bef0;
            margin-left: 30px;
        }
    }

    &-copyright {
        font-size: 14px;
        color: #3c3c3c;
        margin-left: 30px;
    }
}