footer.footer
	.footer-inner
		.footer-social
			img(src="img/svg/fb.svg", alt="fb")
			img(src="img/svg/vk.svg", alt="vk")
			img(src="img/svg/utube.svg", alt="utube")
			img(src="img/svg/inst.svg", alt="inst")
		.footer-button__mob Мобильная версия
		.footer-button__feedback Обратная свзяь
		.footer-copyright © 2014–2020. Центр развития People – учебный портал банк “Открытие”